# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno y secretos
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
vozcloud-502700-3e5d87745ce5.json